@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply duration-200;
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 400;
    src: url("../public/fonts/DMSans-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 500;
    src: url("../public/fonts/DMSans-Medium.ttf") format("ttf");
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 700;
    src: url("../public/fonts/DMSans-Bold.ttf") format("ttf");
  }
  .display-linebreak {
    white-space: pre-line;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #78BADF;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #429FD3;
  }
}


.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}